.images{
    margin: 0;
    display: flex;
    width: 70%;
    flex-direction: column;
}

.rowone{
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
    justify-content: center;
    justify-items: center;
    gap: 194px;
}

.rowtwo{
    display: flex;
    justify-content: center;
    justify-items: center;
    gap: 252px;
    margin-bottom: 100px;
}

.usimage{
    height: 675px;
    width: 328px;
}

#obj1:hover{
    content: url('Общага/Логин 2.png');
}

#obj2:hover{
    content: url('Общага/Привет 2.png');
}
#obj3:hover{
    content: url('Общага/Лента 2.png');
}
#obj4:hover{
    content: url('Общага/Отзыв 2.png');
}