.images{
    margin: 0;
    display: flex;
    width: 70%;
    flex-direction: column;
}

.rowone{
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
    justify-content: center;
    justify-items: center;
    gap: 194px;
}

.rowtwo{
    display: flex;
    justify-content: center;
    justify-items: center;
    gap: 252px;
    margin-bottom: 100px;
}

.usimage{
    height: 675px;
    width: 328px;
}

#us1:hover{
    content: url('Южно-Сахалинск/Вход 2.png');
}

#us3:hover{
    content: url('Южно-Сахалинск/Услуги 2.png');
}
#us4:hover{
    content: url('Южно-Сахалинск/Новая\ услуга\ 2.png');
}
#us5:hover{
    content: url('Южно-Сахалинск/Услуга просмотр 2.png');
}
#us6:hover{
    content: url('Южно-Сахалинск/Услугодатель 2.png');
}
#us7:hover{
    content: url('Южно-Сахалинск/Карта 2.png');
}
#us8:hover{
    content: url('Южно-Сахалинск/Пользователь 2.png');
}
